flow.json
[{"id":"282fe432.cab474","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"f3f8de53.2faad8","type":"http in","z":"282fe432.cab474","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["76b8a9ec.6aeb38"]]},{"id":"76b8a9ec.6aeb38","type":"function","z":"282fe432.cab474","name":"","func":"msg.payload = \"Mika\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["9cc8365b.43ceb"]]},{"id":"9cc8365b.43ceb","type":"template","z":"282fe432.cab474","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":460,"y":80,"wires":[["396dc9dd.dc90ae"]]},{"id":"396dc9dd.dc90ae","type":"http response","z":"282fe432.cab474","name":"","statusCode":"","headers":{},"x":650,"y":80,"wires":[]}]